<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmcc.helloandroid"
    android:versionCode="1"
    android:versionName="1.0" ><!-- android:versionName可以随便改，表示生成的应用的版本号 -->

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <!-- application表示当前应用。其中，"@"就理解为R.java文件；"@XX/YY"XX就表示R文件中的XX类，YY表示该类中的变量名 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/test"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
